@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgba(0, 0, 0, 0.905);
}
.history{
  animation: blurTxt 550ms linear;
}
@keyframes blurTxt {
  from{filter: blur(20px);}
  to{filter: blur(0px);}
}